In [11]:
import pandas as pd
FILE_NAME = 'exp3_d3_data.csv'
df = pd.read_csv(FILE_NAME)
df.columns = [c.replace(' ', '_') for c in df.columns]
df

     depth  move_number  Going_First  Minimax_Bot_time_to_Make_Move Winner
0        3            1            0                       0.019949    NaN
1        3            2            0                       0.017951    NaN
2        3            3            0                       0.003990    NaN
3        3            4            0                       0.018973    NaN
4        3            5            0                       0.009968    NaN
..     ...          ...          ...                            ...    ...
479      3            3            1                       0.003988    NaN
480      3            4            1                       0.025159    NaN
481      3            5            1                       0.013970    NaN
482      3            6            1                       0.006974    NaN
483      3            7            1                       0.002993      O

[484 rows x 5 columns]

In [27]:
df.groupby([df.move_number, df.Going_First])["Minimax_Bot_time_to_Make_Move"].agg(["mean", "std"])

                             mean           std
move_number Going_First
1           0            0.019447  5.595827e-04
            1            0.017935  1.039687e-03
2           0            0.017563  1.860349e-03
            1            0.017644  8.257344e-03
3           0            0.005044  2.499333e-03
            1            0.008495  6.107037e-03
4           0            0.014904  5.441670e-03
            1            0.014054  5.610989e-03
5           0            0.010968  2.883428e-03
            1            0.010518  3.395488e-03
6           0            0.009649  2.637705e-03
            1            0.008007  2.586404e-03
7           0            0.006945  1.768045e-03
            1            0.005823  1.943379e-03
8           0            0.004777  1.301897e-03
            1            0.004710  9.556136e-04
9           0            0.003482  9.247058e-04
            1            0.002869  1.122803e-03
10          0            0.003000  1.753039e-05
            1            0.001824  4.668165e-04
11          0            0.001483  6.844648e-04
            1            0.000997  2.753021e-07
12          0            0.000629  8.899729e-04
            1            0.000000           NaN
13          0            0.000000           NaN
            1            0.000000           NaN